body {
  padding: 0;
  margin: 0;
}

nav {
  display: flex;
  gap: 1rem;
  align-items: center;
  background-color: gainsboro;
  padding: 2px 5px;
  margin-bottom: 2rem;
}
nav h1 {
  color: gray;
}
nav ul {
  display: flex;
  gap: 15px;
  align-items: center;
  list-style-type: none;
  flex-grow: 1;
 justify-content: end;
}
nav ul a {
  text-decoration: none;
  color: rgb(68, 74, 70);
  font-size: 20px;
 
  border-radius: 4px;
  padding: 3px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#categories-container {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.category-link {
  text-decoration: none;
  color: black;
  border: solid 1px gray;
  border-radius: 6px;
  padding: 4px;
  background: gainsboro;
  text-transform: capitalize;
  color: goldenrod;
}

/* products */
#products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  background: whitesmoke;
  padding: 4ch 10%;
}

.product-cta {
  padding: 4px;
  border-radius: 1rem 1rem 0 0;
  background-color: white;
}

#products-container img {
  height: 200px;
  width: 200px;
}

.product-text-cta {
  box-shadow: 0 0 1px 0 rgb(210, 206, 206);
  padding: 3px;
  background: gainsboro;
}

.product-text-cta p {
  padding: 3px;
  margin: 0;
  width: 190px;
  height: 32px;
  text-overflow: ellipsis;
  overflow: hidden;
}

#price-and-seemore {
  color: orange;
  font-size: large;
  padding: 0 3px;
  display: flex;
  height: 40px;
  justify-content: space-around;
  align-items: center;
}

#price-and-seemore a {
  font-weight: 400;
  font-size: small;
}
